[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
googleapis-common-protos = "==1.52.0"
grpcio = "==1.33.2"
requests = "==2.27.1"
Vega-API-client = "==0.47.0"
websocket-client = "==1.2.3"

[dev-packages]

[requires]
python_version = "3.8"
